<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    {{ with .Site.Params.wgavatar }}
    <div>
      <br>
      <br>
      <a href="https://www.computecanada.ca">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/intro">Intro to Compute Canada for HSS researchers / La fédération Calcul Canada au service de la recherche en SHS</a></div>
      <div class="right">Feb-16 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cloud">Cloud applications in HSS / L'infonuagique pour la recherche en SHS</a></div>
      <div class="right">Feb-16 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/dmp">Data Management Plans for HSS / Un plan de gestion des données pour la recherche en SHS</a></div>
      <div class="right">Feb-17 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/pm">Project Management for HSS / Gestion des projets de recherche en SHS</a></div>
      <div class="right">Feb-17 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/tools">Out(side) of the Box - Online tools for HSS / Des outils conviviaux pour la
      recherche en humanités numériques </a></div>
      <div class="right">Feb-18 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cli">Taming the Command Line / Apprivoiser la ligne de commande</a></div>
      <div class="right">Feb-18 @2:30pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/photo">Introduction to Photogrammetry / Introduction à la photogrammétrie</a></div>
      <div class="right">Feb-19 @12pm EST</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/scraping">Introduction to Web Scraping / Introduction au moissonnage sur le Web</a></div>
      <div class="right">Feb-19 @2:30pm EST</div>
    </div>
    <br>
    <div id="frontdates">
      Register <a href="https://www.eventbrite.ca/e/compute-canada-federation-humanities-and-social-sciences-series-winter-2021-tickets-133111483029">here</a>
    </div>
  </div>
</section>
